@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"].</h2>

<div class="Form-Page">
    <style>
        body {
            background: url('../images/bokeh-bg.jpg');
        }
    </style>
    <div class="Ad-Login-Left"></div>
    <div class="Ad-Login-Right"></div>
    <div class="Form-Container">
        <h4>Reset your password</h4>
        <div>
            <div class="col-md-12">
                <form asp-controller="Account" asp-action="ResetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form" role="form" method="post" accept-charset="UTF-8" id="reset-pass-nav">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="Code" />
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="E-mail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Reset password</button>
                    </div>
                </form>
            </div>
            <div class="text-center">
                 
            </div>
        </div>
    </div>

</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
